appnope
asttokens
backcall
boto3
botocore
comm
debugpy
decorator
executing
ipykernel
ipython
jedi
jmespath
jupyter_client
jupyter_core
matplotlib-inline
nest-asyncio
packaging
parso
pexpect
pickleshare
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
Pygments
python-dateutil
pyzmq
s3transfer
six
stack-data
tornado
traitlets
urllib3
wcwidth
